@model IEnumerable<RezerwacjaBoiska.Models.Opinie>

@{
    ViewData["Title"] = "Opinions";
}

<h1>Opinions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ocena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDodania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentarz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDodania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Imie)
                @Html.DisplayFor(modelItem => item.Autor.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boisko.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a href="/Home/Rezerwuj">Go to main panel</a>